# Unreal Engine generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Rider
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


# Keep project files
!Config/
!Content/
!Source/
!*.uproject